<div class = "row">
  <div class="entry smallField"><span>Bill No.</span>
  <span style="padding-left: 15px"><b>602</b></span></div>
  <div class="entry"><app-name-autocomplete></app-name-autocomplete></div>
  <div class="entry smallField"><app-datepicker></app-datepicker></div>
</div>

<div class = "row">
  <div class="entry smallField"><mat-form-field class="example-full-width">
    <input matInput placeholder="PO No."></mat-form-field></div>
  <div class="entry bigField"><mat-form-field>
  <select matNativeControl required placeholder = "Mode of Payment">
    <option value="cash">Cash</option>
    <option value="cheque">Cheque</option>
    <option value="card">Card</option>
  </select>
</mat-form-field></div>
  <div class="entry smallField"><mat-form-field class="example-full-width">
    <input matInput placeholder="E Way Bill No."></mat-form-field></div>
</div>

<table>
  <colgroup>
    <col style="width: 8%">
    <col style="width: 300px">
    <col style="width: 8%">
    <col style="width: 10%">
    <col style="width: 10%">
    <col style="width: 12%">
    <col style="width: 9%">
    <col style="width: 12%">
    <col style="width: 12%">
  </colgroup>
  <thead>
  <tr>
  <th>Sr No.</th>
  <th>Product</th>
  <th>Qty</th>
  <th>MRP</th>
  <th>Rate</th>
  <th>Value</th>
  <th>Tax Rate</th>
  <th>Tax Amt</th>
  <th>Gross Value</th>
</tr>
</thead>
<tbody>
<tr *ngFor = "let purchase of purchases; let i = index">
  <td class = "srno">{{i+1}}</td>
  <td class = "product"><app-product-autocomplete></app-product-autocomplete></td>
  <td class = "qty"><input type = "number"/></td>
  <td class = "mrp"><input type = "number"/></td>
  <td class = "rate"><input type = "number"/></td>
  <td class = "value"></td>
  <td class = "taxrate"></td>
  <td class = "taxamt"></td>
  <td class = "gross"></td>
</tr>
</tbody>
</table>
