.entry{
  padding: 16px;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table{
  width: 90%;
  margin: 0 auto;
}


@media(min-width: 768px) {
  .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

    th{
     padding: 15px;
   }
}
