.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active{
  background: #3f51b5;
  color: white;
}

a{
  display: block;
  padding: 15px;
}

.submitButton{
  display: block;
  margin: 0 auto;
  padding: 0 36px;
}
