<form id = "new-customer-form" (ngSubmit)="onSubmit()" [formGroup] = "customerForm">
  <div class = "row">
  <div class="entry"><mat-form-field class="example-full-width">
    <input matInput placeholder="Name" required formControlName = "customerName"></mat-form-field></div>
  <div class="entry"><mat-form-field class="example-full-width">
      <input matInput placeholder="Address" formControlName = "address"></mat-form-field></div>
    </div>
    <div class = "row">
  <div class="entry"><mat-form-field class="example-full-width">
      <input matInput placeholder="GST No." required formControlName = "gstNo"></mat-form-field></div>
  <div class="entry"><mat-form-field class="example-full-width">
      <input matInput placeholder="Contact No." required formControlName = "contactNo"></mat-form-field></div>
    </div>
    <div class = "row">
  <div class="entry"><mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName = "email"></mat-form-field></div>
      <div class="entry"><mat-form-field class="example-full-width">
          <input matInput placeholder="Name of Contact Person" formControlName = "contactPerson"></mat-form-field></div>
        </div>
        <button mat-raised-button color="accent" type="submit" id = "submitButton" >Save</button>
</form>
