<form id = "new-customer-form">
  <div class = "row">
  <div class="entry"><mat-form-field class="example-full-width">
    <input matInput placeholder="Name" required></mat-form-field></div>
  <div class="entry"><mat-form-field class="example-full-width">
      <input matInput placeholder="Address"></mat-form-field></div>
    </div>
    <div class = "row">
  <div class="entry"><mat-form-field class="example-full-width">
      <input matInput placeholder="GST No." required></mat-form-field></div>
  <div class="entry"><mat-form-field class="example-full-width">
      <input matInput placeholder="Contact No." required></mat-form-field></div>
    </div>
    <div class = "row">
  <div class="entry"><mat-form-field class="example-full-width">
      <input matInput placeholder="Email"></mat-form-field></div>
      <div class="entry"><mat-form-field class="example-full-width">
          <input matInput placeholder="Name of Contact Person"></mat-form-field></div>
        </div>
</form>
