<div id = "printView">
  <div id = "borderDiv">
<div>
<span style="font-size: 12px; display: block; text-align: right; margin-top: 8px">TAX INVOICE FOR SUPPLY OF GOODS</span>
</div>
<h2 style="text-align: center">RADIANT LIGHTS</h2>
<p style="text-align:center; margin-bottom:4px"><i>DALLAS BUILDING SHOP NO 1, GYAN MANDIR ROAD, DADAR(WEST), MUMBAI-400028</i></p>
<p style="text-align:center; margin-top:0"><i>PH: 022-24212401, MOBILE NO: 9004651205, EMAIL: radiantlights25@gmail.com</i></p>
<div style="display: flex; justify-content: space-around">
<span>GSTIN NO OF SUPPLIER: 27BPMPS2885F1ZA</span>
<span>SUPPLIER PAN NO: BPMPS2885F</span>
</div>
<div style="display: flex; justify-content: space-around">
<span>PLACE OF SUPPLY: MUMBAI</span>
<span>STATE CODE: MAHARASHTRA</span>
</div>
<hr>
<div style="display: flex; justify-content: center; margin-bottom: 8px">
<span>INVOICE NO: </span><input type = "number" [formControl] = "billNo" id = "billNo"/>
</div>
<div style="display: flex; justify-content: space-between; padding: 0 8px; font-size: 14px">
<div class = "one-third">
<span>BUYER'S NAME: </span>
</div>
<div class = "one-third middle">
<span>{{customerName}}</span>
</div>
<div class = "one-third right">
<span>DATE OF ISSUE: {{invoiceDate}}</span>
</div>
</div>
<div style="display: flex; justify-content: space-between; padding: 0 8px; font-size: 14px">
<div class = "one-third">
<span>BUYERS ADDRESS: </span>
</div>
<div class = "one-third middle">
<span>{{address}}</span>
</div>
<div class = "one-third right">
<span>BUYERS TELL NO: {{contactNo}}</span>
</div>
</div>
<div style="display: flex; justify-content: space-between; padding: 0 8px; font-size: 14px">
<div class = "one-third">
<span>EMAIL ID: </span>
</div>
<div class = "one-third middle">
<span>{{email}}</span>
</div>
<div class = "one-third right">
<span>PO NO: {{poNo}}</span>
</div>
</div>
<div style="display: flex; justify-content: space-between; padding: 0 8px; font-size: 14px">
<div class = "one-third">
<span>CONTACT PERSON: </span>
</div>
<div class = "one-third middle">
<span>{{contactName}}</span>
</div>
<div class = "one-third right">
<span>PAYMENT MODE: {{paymentType}}</span>
</div>
</div>
<div style="display: flex; justify-content: space-between; padding: 0 8px; font-size: 14px">
<div class = "one-third">
<span>PLACE OF SUPPLY: </span>
</div>
<div class = "one-third middle">
<span>MUMBAI</span>
</div>
<div class = "one-third right">
<span>PO DATE: {{poDate}}</span>
</div>
</div>
<div style="display: flex; justify-content: space-between; padding: 0 8px; font-size: 14px">
<div class = "one-third">
<span>STATE NAME: </span>
</div>
<div class = "one-third middle">
<span>{{selectedState? selectedState.viewValue : "MAHARASHTRA"}}</span>
</div>
<div class = "one-third right">
<span>STATE CODE: {{selectedState? selectedState.value : 27}}</span>
</div>
</div>
<div style="display: flex; justify-content: space-between; padding: 0 8px; font-size: 14px">
<div class = "one-third">
<span>GSTIN OF THE BUYER: </span>
</div>
<div class = "one-third middle">
<span>{{gstNo}}</span>
</div>
<div class = "one-third right">
<span>E-WAY NO: {{ewayNo}}</span>
</div>
</div>
<table>
  <colgroup>
    <col style="width: 8%">
    <col style="width: 450px">
    <col style="width: 8%">
    <col style="width: 8%">
    <col style="width: 8%">
    <col style="width: 9%">
    <col style="width: 9%">
    <col style="width: 9%">
    <col style="width: 9%">
  </colgroup>
  <thead>
  <tr>
  <th>Sr No.</th>
  <th>Description</th>
  <th>HSN code</th>
  <th>Qty</th>
  <th>UNIT PRICE</th>
  <th>GROSS VALUE</th>
  <th colspan="2">GST</th>
  <th>TOTAL VALUE</th>
</tr>
<tr>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th>RATE %</th>
  <th>AMT</th>
  <th></th>
</tr>
</thead>
<tbody>
<tr *ngFor = "let product of products; let i = index;">
  <td class = "srno">{{i+1}}</td>
  <td class = "product">{{product ? product.productName : emptyString}}</td>
  <td class = "qty">{{product ? product.hsn : emptyString}}</td>
  <td class = "mrp">{{product ? product.qty : emptyString}}</td>
  <td class = "rate">{{product ? product.rate : emptyString}}</td>
  <td class = "value">{{product ? product.taxAmt : emptyString}}</td>
  <td class = "taxrate">{{product ? product.taxRate : emptyString}}</td>
  <td class = "taxamt">{{product ? (product.value | number:'1.0-0') : emptyString}}</td>
  <td class = "gross">{{product ? (product.gross | number:'1.0-0') : emptyString}}</td>
</tr>
</tbody>
<tfoot style="background-color:#d3d3d3; font-weight: 700">
  <tr>
    <td colspan="5">TOTAL AMOUNT DUE</td>
    <td class = "totalValue">{{totalTaxAmt | number:'1.0-0'}}</td>
    <td></td>
    <td class = "totalTaxAmt">{{totalValue | number:'1.0-0'}}</td>
    <td class = "totalGross">{{totalGross | number:'1.0-0'}}</td>
  </tr>
</tfoot>
</table>

<div style="display:flex; justify-content: space-around; margin: 8px 0">
<span>TOTAL AMOUNT IN WORDS: </span>
<span>{{amountInWords | uppercase }}</span>
</div>
<table style="margin: 0 auto">
  <colgroup>
    <col style="width: 50px">
    <col style="width: 75px">
    <col style="width: 75px">
    <col style="width: 75px">
    <col style="width: 75px">
    <col style="width: 75px">
  </colgroup>
  <thead>
    <tr>
      <th>GST RATE</th>
      <th>TAXABLE AMT</th>
      <th>SGST</th>
      <th>CGST</th>
      <th>IGST</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>12</td>
      <td class = "summary">{{taxable12!=0 ? (taxable12 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{(selectedState.value==27 && taxable12!=0) ? (taxable12*6/100 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{(selectedState.value==27 && taxable12!=0) ? (taxable12*6/100 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{(selectedState.value!=27 && taxable12!=0) ? (taxable12*12/100 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{taxable12!=0 ? (taxable12*112/100 | number:'1.0-0') : emptyString}}</td>
    </tr>
    <tr>
      <td>18</td>
      <td class = "summary">{{taxable18!=0 ? (taxable18 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{(selectedState.value==27 && taxable18!=0) ? (taxable18*9/100 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{(selectedState.value==27 && taxable18!=0) ? (taxable18*9/100 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{(selectedState.value!=27 && taxable18!=0) ? (taxable18*18/100 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{taxable18!=0 ? (taxable18*118/100 | number:'1.0-0') : emptyString}}</td>
    </tr>
    <tr>
      <td>28</td>
      <td class = "summary">{{taxable28!=0 ? (taxable28 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{(selectedState.value==27 && taxable28!=0) ? (taxable28*14/100 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{(selectedState.value==27 && taxable28!=0) ? (taxable28*14/100 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{(selectedState.value!=27 && taxable28!=0) ? (taxable28*28/100 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{taxable28!=0 ? (taxable28*128/100 | number:'1.0-0') : emptyString}}</td>
    </tr>
    <tr>
      <td>TOTAL</td>
      <td class = "summary">{{totalTaxAmt | number:'1.0-0'}}</td>
      <td class = "summary">{{selectedState.value==27 ? (taxable28*14/100 + taxable18*9/100 + taxable12*6/100 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{selectedState.value==27 ? (taxable28*14/100 + taxable18*9/100 + taxable12*6/100 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{selectedState.value!=27 ? (taxable28*28/100 + taxable18*18/100 + taxable12*12/100 | number:'1.0-0') : emptyString}}</td>
      <td class = "summary">{{totalGross | number:'1.0-0'}}</td>
    </tr>
  </tbody>
</table>
<h4>BANK DETAILS</h4>
<div style="display:flex; justify-content: space-around">
<div class = "one-third">
<span>ACCOUNT NAME</span>
</div>
<div class = "one-third">
<span>RADIANT LIGHTS</span>
</div>
<div class = "one-third">
<span>FOR RADIANT LIGHTS</span>
</div>
</div>
<div style="display:flex; justify-content: space-around">
<div class = "one-third">
<span>BANK NAME</span>
</div>
<div class = "one-third">
<span>HDFC BANK</span>
</div>
<div class = "one-third"></div>
</div>
<div style="display:flex; justify-content: space-around">
<div class = "one-third">
<span>CURRENT ACCOUNT NO: </span>
</div>
<div class = "one-third">
<span>50200016162580</span>
</div>
<div class = "one-third"></div>
</div>
<div style="display:flex; justify-content: space-around">
<div class = "one-third">
<span>BANK IFSC CODE: </span>
</div>
<div class = "one-third">
<span>HDFC0001118</span>
</div>
<div class = "one-third">
<span>PROPRIETOR</span>
</div>
</div>
</div>
</div>
