<form id = "new-product-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class = "row">
  <div class="entry1"><mat-form-field class="example-full-width">
    <input matInput placeholder="Name" required formControlName = "productName"></mat-form-field></div>
  <div class="entry1"><mat-form-field class="example-full-width">
      <input matInput placeholder="Rate" type="number" formControlName = "rate"></mat-form-field></div>
      <div class="entry1"><mat-form-field class="example-full-width">
          <input matInput placeholder="HSN Code" formControlName = "hsn"></mat-form-field></div>
    </div>
    <button mat-raised-button color="accent" type="submit" id = "submitButton">Save</button>
</form>
