<form id = "new-product-form">
  <div class = "row">
  <div class="entry"><mat-form-field class="example-full-width">
    <input matInput placeholder="Name" required></mat-form-field></div>
  <div class="entry"><mat-form-field class="example-full-width">
      <input matInput placeholder="Rate" type="number"></mat-form-field></div>
      <div class="entry"><mat-form-field class="example-full-width">
          <input matInput placeholder="HSN Code"></mat-form-field></div>
    </div>
    <button mat-raised-button color="accent" type="submit" id = "submitButton">Save</button>
</form>
